body {
    font-family: sans-serif;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 20px;

    border: 0;
}

@media (min-width: 768px) {
    body {
        padding: 100px;
    }
}

.latte-item > div {
    font-size: 48px;
    line-height: 300px;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 300px;

    text-align: center;

    color: white;
}

.latte-item:nth-child(even) > div {
    background-color: #81d4fa;
}

.latte-item:nth-child(odd) > div {
    background-color: #4ba3c7;
}
